.container{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
}

.item{
    font-size: 3rem;
<<<<<<< HEAD
    color:white;
    padding: 0.5 rem;
=======
    color:#ffff;
>>>>>>> 88d4c038f275ba6b211174a8426160efc9e3974a
}